/* Tamaño base en el elemento raíz */
html {
    font-size: 16px; /* 16 píxeles base */
}

/* Título con unidades absolutas */

/*Tamaño de fuente :24 px
*/
.titulo {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
}

/* Texto con tamaño en píxeles */
.texto-px {
    font-size: 40px;
    color: blue   
}

/* Texto con tamaño en em (relativo al tamaño del elemento padre) */
.texto-em {
    font-size: 2em;
    color: green;
}

/* Texto con tamaño en rem (relativo al tamaño de la fuente raíz) */
.texto-rem {
    font-size: 2em;
    color: orange;
}

/* Texto con tamaño en porcentaje */
.texto-percent {
   font-size: 120%;
   color: purple; 
}